@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #93E9BE;

}

.body{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin-top: 100px;
}

input {
  border-radius: 10px;
  padding-left: 15px;
  font-size: 1.3rem;
  margin: 10px;
  width: 220px;
  height: 60px;
  box-shadow: 5px 5px 10px rgb(131, 131, 131);
}

button{
  border-radius: 10px;
  font-size: 1.3rem;
  margin: 20px 10px;
  background-color: #fff;
  color: #93E9BE;
  width:220px;
  height: 60px;
  box-shadow: 5px 5px 10px rgb(131, 131, 131);
}

button:hover{
  background-color: rgb(233, 233, 233);
}

.box {
  background-color: white;
  border-radius: 10px;
  width: 200px;
  font-size: 1.1em;
  text-align: center;
  padding: 10px;
}